orginals/dns.aux
orginals/dns.fdb_latexmk
orginals/dns.pdf
orginals/dns.synctex.gz
orginals/dns_activity.aux
orginals/dns_activity.fdb_latexmk
orginals/dns_activity.log
orginals/dns_activity.synctex.gz
dns.log
