@media print {
  @page {
     margin: 0.5in;
  }

  h1, h2, h3 { page-break-after: avoid }
  li {page-break-inside: avoid;}

  a.footnote-backref {
    display: none;
  }

  pre {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: small;
  }

}

pre {
  background-color: #eeeeff;
  border: 1px solid #cccccc;
  padding: 10px;
}

pre code {
  border: none;
  padding: none;
  background-color: transparent;
}

code {
  border: 1px solid #dddddd;
  background-color: #f8f8f8;
  padding: 1px;
}

div .figure {
  width: 40%; 
  margin: auto
}
